@use '../scss/variables'as *;

$edge: .09rem;



.blank-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: calc($rack-unit * 1);
  width: $rack-width;
  border-radius: .2rem;
  background: linear-gradient(145deg,
      #2a3542,
      #1f2429 50%,
      #151a1f);
  background-blend-mode: multiply;
  box-shadow:
    inset 0.125rem 0.125rem 0.375rem rgba(255, 255, 255, 0.05),
    inset -0.125rem -0.125rem 0.375rem rgba(0, 0, 0, .8),
    // Subtle left/right inset for rack integration
    inset 0.25rem 0 0.5rem rgba(0, 0, 0, 0.3),
    inset -0.25rem 0 0.5rem rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
  border-top: $edge solid rgba(150, 150, 150, .1);
  border-bottom: $edge solid rgba(0, 0, 0, .8);

  &__rack-ear {
    width: 2.6rem;
    height: calc($rack-unit * 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(0.25rem - $screw-radius);
    position: relative;

    &--left {
      align-items: flex-start;
      padding-left: calc($rail-centerline - $screw-radius);
    }

    &--right {
      align-items: flex-end;
      padding-right: calc($rail-centerline - $screw-radius);
    }
  }

  &__chassis {
    flex: 1 1 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

  }
}

.logo-panel {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.qsys-logo {

  width: 12rem;
  height: auto;
  max-height: 3rem;
  opacity: 0.5;
  position: relative;
  filter:
    brightness(0.05) drop-shadow(0 0.0625rem 0.0625rem rgba(255, 255, 255, 0.25));

  mix-blend-mode: multiply;
}
