.page {
  display: flex;
  flex-direction: row;


}

.app {
  margin-top: 1rem;
  margin-left: 1rem;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: SinkinSans;
    font-size: 1.2rem;
        font-weight: 400;
    gap: 1rem;

    margin-bottom: 1rem;

    &--logo {
      height: 2rem;
    }

  }
}

