.magnitude {
	width: 100%;
	height: 100%;
	display: block;
	padding: 0;
	margin: 0;
}

.magnitude .responsalyser__control-pane__canvas {
	display: block;
	width: 100%!important;
	height: 100%!important;
	margin: 0;
	padding: 0;
}
