@use 'variables'as *;

$screw-diameter: 0.75rem;

.screw {

  position: relative;

  width: $screw-diameter;
  height: $screw-diameter;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to bottom, #3b3d41 0%, #2f3134 12%, #26282b 38%, #1b1e21 100%);
  box-shadow: inset 0 0 0 0.0625rem rgba(0, 0, 0, 0.9), inset 0 0 0.0625rem rgba(255, 255, 255, 1);
  pointer-events: none;



  &::after {
    content: '';
    position: absolute;
    left: 20%;
    top: 10%;
    width: 55%;
    height: 30%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 30%, rgba(255, 255, 255, 0.07), transparent 50%);

  }

  &::before {
    content: '';
    position: absolute;
    inset: 0.025rem;
    border-radius: 50%;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.08) 20%, transparent 30%),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.12));
    box-shadow: inset 0 0.0rem 0.0625rem rgba(255, 255, 255, 0.35), inset 0 -0.05rem 0.08rem rgba(0, 0, 0, 0.35);

  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 75%;

    svg {
      /* Very subtle edge highlight so the head reads as flat with a faint rim from the main screw */
      filter: drop-shadow(0 0.0125rem 0.004rem rgba(255, 255, 255, 0.16));
    }
  }
}
